body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#box{
    width: 360px;
    height: 360px;
    background-color:whitesmoke;
    border: 10px solid cyan;
    margin: 0  auto;
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 40px;

}
*{
    margin: 0;
    padding: 0;
}
#box img{
    width: 118px;
    height: 118px;
    border: 1px solid whitesmoke;
    gap: 0;
}
.win-img{
    margin-top: 2%;
}
#plAga{
    font-size: 35px;
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(211,187,170);
}
.info{
    margin: 0 auto;
    margin-top: auto;
}
.opt{
    display: flex;
    justify-content: space-evenly;
}   
.time{
    float: right;
    font-size: 20px;
}
#nextgame{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
#play-again:hover{
    background-color: gray;
}
#home:hover{
    background-color: gray;
}
@media only screen and (max-width: 600px) {
    body{
        text-align: center;
    }
}